/* reset.css */
:root {
  --bg-color: #ECE8E5;
  --border-color: #333;
  --button-enabled-color: #d9d9d9;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Inria Sans', sans-serif;
  height: 100%;
  width: 100%;
  background: var(--bg-color);
}

#menu a {
  transition: 0.7s;
}

#menu a:hover {
  cursor: pointer;
  opacity: .7;
}

#menu-login a {
  transition: 0.7s;
}

#menu-login a:hover {
  cursor: pointer;
  opacity: .7;
}

#menu-hamburguer:hover #menu-hamburguer-submenu {
  display: flex;
}

#logo-menu {
  transition: 0.7s;
}

#logo-menu:hover {
  opacity: 0.7;
}


img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


.input-wrapper {
  display: flex;
  gap: 40px;
  justify-content: center;
  max-width: 800px;
  flex-wrap: wrap;
  margin: 30px auto;
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  max-width: 350px;
}

.input-box input {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 16px;
}

.carros-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
  padding: 0 40px;
}

.carro-tipo {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
}

.carro-card {
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  flex-direction: column;
  width: 100%;
  max-width: 290px;
  height: 230px;
  text-align: center;
  background: var(--bg-color);
}

.carro-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.carro-card p {
  padding: 10px;
  font-weight: bold;
}

/*
* {
  border: 2px solid green;
}
*/